@import no.uit.sfb.info.mk_backend.BuildInfo
@import modules.Authorizer

@()(implicit config: play.api.Configuration, authorizer: Authorizer, requestHeader: RequestHeader)

@main("About") {
  <div class="container">
    <h2>About</h2>
    <ul>
      <li>name: '@BuildInfo.name'</li>
      <li>version: '@BuildInfo.version'</li>
      <li>git sha: '@BuildInfo.formattedShaVersion'</li>
    </ul>
  </div>
}
