@import modules.Authorizer

@(aid: String)(implicit config: play.api.Configuration, authorizer: Authorizer, requestHeader: RequestHeader)

@main(s"Analysis $aid") {
  <div class="container">
    <h2 class="mb-3">Analysis @aid</h2>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#Status" onclick='changeTab("Status")'>Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Config" onclick='changeTab("Config")'>Config</a>
      </li>
    </ul>
    <div>
      <pre id='conf'></pre>
    </div>
    <div id="status" class="row clearfix">
      <div class="col-md-12 column" style="max-width:100%">
        <div>
          <a class="btn btn-primary btn-lg mt-3" href=@routes.HomeController.analyses() role="button">< analyses</a>
          <button id="downloadButton" class="btn btn-secondary btn-lg mt-3" disabled onclick="download()">Download</button>
          <button id="retryButton" class="btn btn-secondary btn-lg mt-3" disabled onclick="retry()">Retry</button>
          <button id="deleteButton" class="btn btn-secondary btn-lg mt-3" disabled onclick="del()">Delete</button>
          <p class="mt-3">Click on a row to access stage details.</p>
        </div>
  <table id="table" class="table table-light table-hover" style="table-layout:fixed"
    data-toggle="table"
    data-url="@routes.AjaxController.analysis(aid)"
    data-detail-view="true"
    data-detail-view-icon="false"
     @* data-detail-view-by-click="true" *@
    @* data-detail-formatter="logFormatter" *@
    data-row-style="rowStyle"
    data-maintain-meta-data="true"
        data-response-handler="responseHandler"
    >
    <thead class="thead-dark">
      <tr>
        <th scope="col" data-field="sid">Stage</th>
        <th scope="col" data-field="status">State</th>
        <th scope="col" data-field="start">Start</th>
        <th scope="col" data-field="end" data-visible="false">End</th>
        <th scope="col" data-field="duration">Duration</th>
        <th scope="col" data-visible="false" data-field="wid">WorkflowId</th>
      </tr>
    </thead>
  </table>
      </div>
  </div>
  </div>

  <script>
    @* var expandedIdx = null;
    var currentLog = null;
    var cached = false; *@
    var position = 0;
    var url;
    var tab;

    document.addEventListener("DOMContentLoaded", function() {
      $("#table").on("click-row.bs.table", function (row, $el, field) {
        window.location.href = "stage?" + $.param([{name: "aid", value: $el.aid}, {name: "sid", value: $el.sid}]);
      });
    });

    function changeTab(fragment) {
      tab = fragment;
      $(".nav-link").each(function () {
                if (fragment === $(this).text()) {
                  $(this).addClass("active")
                } else {
                  $(this).removeClass("active")
                }
              }
      );

        if (fragment === "Status") {
          $("#status").css("display", "initial");
          $("#conf").css("display", "none")
        } else if((fragment === "Config")) {
          $("#conf").css("display", "initial");
          $("#status").css("display", "none")
        }
    }

    if (window.location.hash) {
      changeTab(window.location.hash.substring(1));
    } else {
      changeTab("Status");
    }

    function retry() {
        $('#retryButton').prop('disabled', true).removeClass('btn-warning').addClass('btn-secondary');
        $.post({
            url: "retry-analysis?aid=@{aid}",
            dataType: 'text'
        })
    }

    function del() {
        $('#deleteButton').prop('disabled', true).removeClass('btn-danger').addClass('btn-secondary');
        $.post({
            url: "delete-analysis?aid=@{aid}",
            dataType: 'text'
        });
        window.location.href="@routes.HomeController.analyses"
    }

    loadConf();

    function download() {
      window.location.href=url
    }

    function downloadUrl() {
      $.get({
        url: "@routes.AjaxController.downloadUrl(aid)",
        dataType: 'text',
        cache: false,
        timeout: @config.get[Int]("app.ui.timeoutMs"),
        success: function (response, status, xhr) {
          if (response !== "") {
            url = response;
            $('#downloadButton').prop('disabled', false).removeClass('btn-secondary').addClass('btn-success')
          }
        },
        error: function (response, status, xhr) {
          console.warn(status);
        }
      });
      return false;
    }

    function loadConf() {
      $.get({
        url: "@routes.AjaxController.analysisConf(aid)",
        dataType: 'text',
        cache: false,
        timeout: @config.get[Int]("app.ui.timeoutMs"),
        success: function (response, status, xhr) {
          $('#conf').text(response)
        },
        error: function (response, status, xhr) {
          console.warn(status);
        }
      });
      return false;
    }

    function responseHandler(res) {
      if (res.isDeletable === true)
        $('#deleteButton').prop('disabled', false).removeClass('btn-secondary').addClass('btn-danger');
      else
          $('#deleteButton').prop('disabled', true).removeClass('btn-danger').addClass('btn-secondary');
      if (res.isRetryable)
        $('#retryButton').prop('disabled', false).removeClass('btn-secondary').addClass('btn-warning');
      else
          $('#retryButton').prop('disabled', true).removeClass('btn-warning').addClass('btn-secondary');
      return res.data
    }

    function loadData() {
      $.get({
        url: "@routes.AjaxController.analysis(aid)",
        dataType: 'json',
        cache: false,
        timeout: @config.get[Int]("app.ui.timeoutMs"),
        success: function (response, status, xhr) {
          position = $(window).scrollTop();
          $('#table').bootstrapTable('load', responseHandler(response));
        },
        error: function (response, status, xhr) {
          console.warn(status);
        }
      });
      return false;
    }

    @* function logFormatter(index, row) {
      if (expandedIdx !== null && expandedIdx !== index) {
        $('#table').bootstrapTable('collapseRow', expandedIdx);
      }
      expandedIdx = index;
      if (cached !== true || currentLog === null) {
        var res = $.get({
                  url: "logs?sid=" + row.sid + "&aid=@aid",
                  dataType: "text"
                }
        );
        res.done(function (data) {
          currentLog = data;
          if (row.state !== "RUNNING")
            cached = true;
          $('#wait').remove();
          $('tr[data-index=' + index + '] + .detail-view td:first pre').text(data)
        });
        res.fail(function (xhr, textStatus, err) {
          console.warn(textStatus);
          $('#wait').remove();
          $('tr[data-index=' + index + '] + .detail-view td:first pre').text("Sorry, we could not load the logs.")
        });
      }
      var pre;
      if (currentLog === null) {
        pre = '<div id="wait" class="spinner-border" role="status"/>' + '<pre>Loading logs...</pre>'
      } else {
        pre = '<pre>' + currentLog + '</pre>'
      }
      if(row.state === "RUNNING")
        return pre + '<div class="spinner-grow" role="status"/>';
      else
        return pre
    } *@

    function rowStyle(row, index) {
      var cl;
      switch (row.status) {
        case "SUCCESS":
          cl = "table-success";
          break;
        case "RUNNING":
          cl = "table-primary";
          break;
        case "FAILED":
          cl = "table-danger";
          break;
        case "KILLED":
          cl = "table-danger";
          break;
        case "PENDING":
          cl = "table-secondary";
          break;
        default:
          return ""
      }
      return {classes: cl}
    }

    var $table = $("#table");

    $table.on("post-body.bs.table", function (row, $el, field) {
      downloadUrl();
      @*  if (expandedIdx !== null)
          $table.bootstrapTable('expandRow', expandedIdx); *@
      $(window).scrollTop(position);
       return false;
    });

    @* $table.on("collapse-row.bs.table", function (event, index) {
      if (index === expandedIdx) {
        expandedIdx = null;
        currentLog = null;
        cached = null;
      }
      return false;
    }); *@

    setInterval( function () {
      position = $(window).scrollTop();
      if (tab === "Status")
        loadData();
      $(window).scrollTop(position);
      return false;
    }, @config.get[Int]("app.ui.pollPeriodMs") );
  </script>
}