@import modules.Authorizer

@(admin: Boolean = false)(implicit config: play.api.Configuration, authorizer: Authorizer, requestHeader: RequestHeader)

@title = @{if(admin) {"Admin analyses"} else {"Analyses"}}
@main(title) {
  <div class="container">
    <h2>Analyses</h2>
    <a class="btn btn-primary btn-lg mt-3" href="@routes.SubmissionController.submission()" role="button">New analysis</a>
    <p class="mt-3">Click on a row to access analysis details.</p>
    <table id="table" class="table table-light table-hover"
    data-toggle="table"
    @* data-height="410" *@
    data-pagination="true"
    data-show-extended-pagination="true"
    data-sortable="true"
    @* data-ajax="ajaxRequest" *@
    data-url="@routes.AjaxController.analyses"
    data-row-style="rowStyle"
    @* data-show-button-text="true" *@
    @* data-show-pagination-switch="true" *@
    data-page-size="5"
    data-page-list="[5, 15, 50, All]"
    data-search="true"
    @* data-search-on-enter-key="true" *@
      data-visible-search="true"
      @* data-show-columns="true" *@
      @* data-show-refresh="true" *@
      @* data-detail-view="true" *@
        @* data-detail-view-icon="false" *@
        @* data-detail-view-by-click="true" *@
        @* data-detail-formatter="detailFormatter" *@
      >
      <thead class="thead-dark">
        <tr>
          <th scope="col" data-field="aid" data-sortable="true">ID</th>
          <th scope="col" data-field="timestamp" data-sortable="true">Submission time</th>
          <th scope="col" data-field="duration" data-sortable="true">Duration</th>
          <th scope="col" data-field="tags">Tags</th>
          <th scope="col" data-field="status" data-sortable="true">Status</th>
          <th scope="col" data-visible="@admin" data-field="wid" data-sortable="true">Wid</th>
          <th scope="col" data-visible="@admin" data-field="owner" data-sortable="true">Owner</th>
          <th scope="col" data-visible="false" data-field="isRetryable" data-sortable="false">isRetryable</th>
          <th scope="col" data-visible="false" data-field="isCancellable" data-sortable="false">isCancellable</th>
          <th scope="col" data-visible="false" data-field="isDeletable" data-sortable="false">isDeletable</th>
        </tr>
      </thead>
    </table>
  </div>

  <script>
    function loadData() {
      $.get({
        url: '@if(admin) {@routes.AjaxController.allAnalyses} else {@routes.AjaxController.analyses}',
        dataType: 'json',
        cache: false,
        timeout: @config.get[Int]("app.ui.timeoutMs"),
        success: function (response, status, xhr) {
          $('#table').bootstrapTable('load', response);
        },
        error: function (response, status, xhr) {
          console.warn(response);
        }
      });
    }
    function rowStyle(row, index) {
      var cl;
      switch (row.status) {
        case "Running":
          cl = "table-primary";
          break;
        case "Finished":
          cl = "table-success";
          break;
        case "Execution failed":
          cl = "table-danger";
          break;
        case "Queued":
          cl = "table-secondary";
          break;
        case "Initializing":
          cl = "table-secondary";
          break;
        case "Initialization failed":
          cl = "table-warning";
          break;
        default:
          return ""
      }
      return {classes: cl}
    }

    document.addEventListener("DOMContentLoaded", function() {
        $("#table").on("click-row.bs.table", function (row, $el, field) {
           window.location.href = "analysis?" + $.param([{name: "aid", value: $el.aid}]);
        });
    });

    setInterval( function () {
      loadData();
    }, @config.get[Int]("app.ui.pollPeriodMs") );
  </script>
}