@import modules.Authorizer

@()(implicit config: play.api.Configuration, authorizer: Authorizer, requestHeader: RequestHeader)

@main("Contact") {
  <div class="container">
    <h2 class="mb-5">Contact</h2>
    <div class="mb-4">
    <h5>Administration</h5>
      For any inquiry about this service, please contact <a href="mailto:mmp@@uit.no">MMP</a>.
      @if(config.getOptional[String]("app.serviceDesk.email").isDefined) {
    <br>In case of unexpected event, please let us know by sending an email to the <a href="mailto:@config.get[String]("app.serviceDesk.email")">developer team</a>.
      }
    </div>
    <div class="mb-4">
    <h5>Project</h5>
    @config.get[String]("app.name") is open-source. Visit our <a href="@config.get[String]("app.repository")">project repository</a> for contributing or for technical reference.
  </div>
  </div>
}
