@import modules.Authorizer

@()(implicit config: play.api.Configuration, authorizer: Authorizer, requestHeader: RequestHeader)

@main("Home") {
  <div class="container">
    <div class="mb-5">
      <img src="@routes.Assets.versioned("images/ELIXIR_logo.png")" alt="ELIXIR logo" style="max-width:10%;height:auto;float:right">
      <h1 class="mb-5">Welcome to @config.get[String]("app.name")</h1>
      <div class="mb-4" id="insertUserTextHere">
    </div>
    <img src="@routes.WorkflowAssets.at("workflow.*")" style="max-width:40%;height:auto;float:right">
    <div>
      <div class="mb-4">
        <h5>About METAkube</h5>
        <a href="https://gitlab.com/uit-sfb/metakube"> METAkube</a> is a platform delivering META-pipe as a service. Based on Kubernetes, it is easily deployable on any cluster/cloud supporting this technology.<br>
        This implementation is an ongoing collaborative project between <a href="https://www.elixir-norway.org/">ELIXIR Norway</a>, <a href="https://en.uit.no/forskning/forskningsgrupper/gruppe?p_document_id=347053">Center for Bioinformatics</a> and <a href="https://www.uninett.no/sigma">Uninett Sigma2</a>.
      </div>
    </div>
    <div>
      <a class="btn btn-primary btn-lg" href="@routes.SubmissionController.submission()" role="button">Start</a>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const withoutCR = `@config.get[String]("app.pipeline.description")`;
      console.log(withoutCR);
      const decoded = $("<p/>").html(withoutCR).text();
      $('#insertUserTextHere').append(decoded)
      });
  </script>
}