@import modules.Authorizer

@()(implicit config: play.api.Configuration, authorizer: Authorizer, requestHeader: RequestHeader)
@profile = @{authorizer.user}

@main("Personal information") {
  <div class="container">
    <h2 class="mb-3">Personal information</h2>
    <p>Here is a list of the information we keep about your profile:</p>
    <ul>
      <li>Id: '@profile.id'</li>
      <li>Name: '@profile.name'</li>
      <li>Username: '@profile.username'</li>
      <li>Email: '@profile.email'</li>
    </ul>
  </div>
}
