@import modules.Authorizer

@()(implicit config: play.api.Configuration, authorizer: Authorizer, requestHeader: RequestHeader)

@main("Privacy Policy") {
  <div class="container">
    <h2 class="mb-3">Privacy Policy</h2>
    <div class="mb-4">
      <h5>Name of the service</h5>
      @config.get[String]("app.name")
    </div>
    <div class="mb-4">
      <h5>Description of the service</h5>
      A service for executing META-pipe: a metagenomic workflow targeted to the marine environment.
    </div>
    <div class="mb-4">
      <h5>Data controller and a contact person</h5>
      <p>Data controller: <a href="https://www.elixir-norway.org/">Elixir Norway</a></p>
      <p>Contact person: <a href="mailto:nils-peder.willassen@@uit.no">Nils P. Willassen</a></p>
    </div>
    <div class="mb-4">
      <h5>Jurisdiction</h5>
      NO - Norway
    </div>
    <div class="mb-4">
      <h5>Personal data processed</h5>
      <p>When using ELIXIR AAI login, the following information is fetched every time you log in to the service:
      <ul>
        <li>Your unique identifier (ELIXIR ID attribute)</li>
        <li>Your name (surname, commonName, displayName)</li>
        <li>Your home organization information (schacHomeOrganization, schacHomeOrganizationType)</li>
        <li>Your e-mail (mail)</li>
      </ul>
      </p>
      <p>Following information is gathered from yourself:
    <ul>
      <li>When login in with an internal @config.get[String]("app.name") account, your username and email address for sending notifications to you.</li>
      <li>Any activity on the service: time, datasets, parameters and results are all recorded and linked to the user who submitted the analysis.</li>
    </ul>
      </p>
    </div>
    <div class="mb-4">
      <h5>The purpose of the processing of personal data</h5>
      <p>Personal data is used for managing access rights to datasets and for providing related reporting functionalities
        for applicants, application handlers, dataset owners and the data archive.</p>
      <p>Personal data in the log files of the server is used for working out technical problems and protecting the service.</p>
    </div>
    <div class="mb-4">
      <h5>Third parties to whom personal data is disclosed</h5>
      No personal information is disclosed to any third parties.
    </div>
    <div class="mb-4">
      <h5>How to access, rectify and delete the personal data</h5>
      Contact the data controller to use your right to access your all personal data.
    </div>
    <div class="mb-4">
      <h5>Data retention</h5>
      The personal information and datasets are stored until the user chooses to unregister from the service. Some data
      resulting from the execution of the service may persist without any time limit but are not any longer tied to any identity.
    </div>
    <div class="mb-4">
      <h5>Data Protection Code of Conduct</h5>
      Your personal data will be protected according to the
      <a href="https://geant3plus.archive.geant.net/uri/dataprotection-code-of-conduct/v1/pages/default.aspxCode">Code of
        Conduct for Service Providers</a>, a common standard for the research and higher education sector to protect your privacy.
    </div>
  </div>
}
