@import modules.Authorizer

@(aid: String, files: Map[String, Seq[FileInfo]])(implicit config: play.api.Configuration, authorizer: Authorizer, requestHeader: RequestHeader)

@main("Download") {
  <div class="container">
    <h2 class="mb-5">Download</h2>
    <p id="sizeString"></p>
    <button type="submit" class="btn btn-primary">Download</button>
      <ul style="list-style-type:none;">
    @for((stage, lf) <- files) {
      <li>
        <div class="form-check">
          <input type="checkbox" class="form-check-input stage-check" id="@stage">
          <label class="form-check-label" for="@stage">@stage</label>
        </div>
      </li>
      <ul style="list-style-type:none;">
      @for(fi <- lf) {
        <li>
          <div class="form-check">
            <input type="checkbox" class="form-check-input file-check" data-size="@fi.size" id="@stage-@fi.name.replace('.', '-')">
            <label class="form-check-label" for="@stage-@fi.name.replace('.', '-')">@fi.name (@fi.prettySize)</label>
          </div>
        </li>
      }
    </ul>
    }
      </ul>
  </div>
  <script>
    var totalSize = 0;
    function humanFileSize(bytes, si) {
      var thresh = si ? 1000 : 1024;
      if(Math.abs(bytes) < thresh) {
        return bytes + ' B';
      }
      var units = si
              ? ['kB','MB','GB','TB','PB','EB','ZB','YB']
              : ['KiB','MiB','GiB','TiB','PiB','EiB','ZiB','YiB'];
      var u = -1;
      do {
        bytes /= thresh;
        ++u;
      } while(Math.abs(bytes) >= thresh && u < units.length - 1);
      return bytes.toFixed(1)+' '+units[u];
    }
    function updateSize(elem) {
        var coeff;
        if (elem.checked) {
          coeff = 1;
        } else {
          coeff = -1;
        }
        var size = elem.dataset.size;
        totalSize = totalSize + coeff * Number(size);
        $('#sizeString').text(humanFileSize(totalSize) + " will be downloaded.")
    }
  $('.stage-check').change(function() {
    var j = "[id^=" + this.id + '-]';
    var father = this;
    $(j).each(function (idx, child) {
      if (child.checked !== father.checked) {
        console.log(child.id)
        console.log(father.checked)
        $('#'+child.id).prop('checked', father.checked);
        updateSize(child, father.checked)
      }
    });
  });
  $('.file-check').change(function() {
    updateSize(this)
  })
  </script>
}
