@import modules.Authorizer

@(aid: String, sid: String)(implicit config: play.api.Configuration, authorizer: Authorizer, requestHeader: RequestHeader)

@main(s"Stage $aid/$sid") {
  <div class="container">
    <h2 class="mb-3">Stage @aid/@sid</h2>
    <div id="status" class="row clearfix">
      <div class="col-md-12 column" style="max-width:100%">
        <div>
          <a class="btn btn-primary btn-lg mt-3" href=@routes.HomeController.analysis(aid) role="button">< analysis</a>
          <button id="cancelButton" class="btn btn-secondary btn-lg mt-3" disabled onclick="cancel()">Cancel</button>
          <p class="mt-3">Click on a row to view stage logs.</p>
        </div>
  <table id="table" class="table table-light table-hover" style="table-layout:fixed"
    data-toggle="table"
    data-url="@routes.AjaxController.stage(aid, sid).url.replace("amp;", "")"
    data-detail-view="true"
    data-detail-view-icon="false"
    data-detail-view-by-click="true"
    data-detail-formatter="logFormatter"
    data-row-style="rowStyle"
    data-maintain-meta-data="true"
    data-response-handler="responseHandler"
    >
    <thead class="thead-dark">
      <tr>
        <th scope="col" data-field="run">Run</th>
        <th scope="col" data-field="status">State</th>
        <th scope="col" data-field="start">Start</th>
        <th scope="col" data-field="end" data-visible="false">End</th>
        <th scope="col" data-field="duration">Duration</th>
        <th scope="col" data-visible="false" data-field="wid">WorkflowId</th>
      </tr>
    </thead>
  </table>
      </div>
    </div>
  </div>

  <script>
    var expandedIdx = null;
    var currentLog = null;
    var cached = false;
    var position = 0;

    function responseHandler(res) {
      if (res.isCancellable === true)
        $('#cancelButton').prop('disabled', false).removeClass('btn-secondary').addClass('btn-warning');
      else
        $('#cancelButton').prop('disabled', true).removeClass('btn-warning').addClass('btn-secondary');
      return res.data
    }

    function cancel() {
      $('#cancelButton').prop('disabled', true).removeClass('btn-warning').addClass('btn-secondary');
      $.post({
        url: "cancel-stage?sid=@{sid}&aid=@{aid}",
        dataType: 'text'
      })
    }

    function loadData() {
      $.get({
        url: "load-stage?aid=@{aid}&sid=@{sid}",
        dataType: 'json',
        cache: false,
        timeout: @config.get[Int]("app.ui.timeoutMs"),
        success: function (response, status, xhr) {
          position = $(window).scrollTop();
          $('#table').bootstrapTable('load', responseHandler(response));
        },
        error: function (response, status, xhr) {
          console.warn(status);
        }
      });
      return false;
    }

    function logFormatter(index, row) {
      var t = Number(row.run) - 1;
      if (expandedIdx !== null && expandedIdx !== index) {
        $('#table').bootstrapTable('collapseRow', expandedIdx);
      }
      expandedIdx = index;
      if (cached !== true || currentLog === null) {
        var res = $.get({
                  url: "logs?run=" + t + "&sid=@{sid}&aid=@{aid}",
                  dataType: "text"
                }
        );
        res.done(function (data) {
          currentLog = data;
          if (row.status !== "PENDING" && row.status !== "RUNNING")
            cached = true;
          $('#wait').remove();
          $('tr[data-index=' + index + '] + .detail-view td:first pre').text("Note: Only the log of reprocess parts is displayed\n" + data)
        });
        res.fail(function (xhr, textStatus, err) {
          console.warn(textStatus);
          $('#wait').remove();
          $('tr[data-index=' + index + '] + .detail-view td:first pre').text("Sorry, we could not load the logs.")
        });
      }
      var pre;
      if (currentLog === null) {
        pre = '<div id="wait" class="spinner-border" role="status"/>' + '<pre>Loading logs...</pre>'
      } else {
        pre = '<pre>' + currentLog + '</pre>'
      }
      if(row.status === "RUNNING")
        return pre + '<div class="spinner-grow" role="status"/>';
      else
        return pre
    }

    function rowStyle(row, index) {
      var cl;
      switch (row.status) {
        case "SUCCESS":
          cl = "table-success";
          break;
        case "RUNNING":
          cl = "table-primary";
          break;
        case "FAILED":
          cl = "table-danger";
          break;
        case "KILLED":
          cl = "table-danger";
          break;
        case "PENDING":
          cl = "table-secondary";
          break;
        default:
          return ""
      }
      return {classes: cl}
    }

    var $table = $("#table");

    $table.on("post-body.bs.table", function (row, $el, field) {
      if (expandedIdx !== null)
        $table.bootstrapTable('expandRow', expandedIdx);
      $(window).scrollTop(position);
       return false;
    });

    $table.on("collapse-row.bs.table", function (event, index) {
      if (index === expandedIdx) {
        expandedIdx = null;
        currentLog = null;
        cached = null;
      }
      return false;
    });

    setInterval( function () {
      position = $(window).scrollTop();
      loadData();
      $(window).scrollTop(position);
      return false;
    }, @config.get[Int]("app.ui.pollPeriodMs") );
  </script>
}