@import controllers.forms.AnalysisForm
@import modules.Authorizer
@import models.workflow._
@import models.workflow.parameter._

@(pipeline: Pipeline, form: Form[AnalysisForm])(implicit config: play.api.Configuration, request: MessagesRequestHeader, authorizer: Authorizer)
@main("Analysis submission form") {
  <div class="container">
    <h2 class="mb-5 mt-4">Analysis settings</h2>
    @helper.form(action = routes.SubmissionController.submitAnalysis(), 'enctype -> "multipart/form-data", 'onsubmit -> "block()") {
      @helper.CSRF.formField
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm" for="analysisTags"><h4>Tags</h4></label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" id="analysisTags" name="Analysis tags" placeholder="Ex: sampleX,dbY" required>
          <small class="text-muted required">Comma separated list of tag to identify this analysis.</small>
        </div>
      </div>
      <div class="form-group mt-4">
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><h4>Inputs</h4></legend>
            <div class="col-sm-10" id="pathway-selector">
              @pipeline.pathways.map{ pathway =>
                <div class="form-check" id="pathway-selector-@pathway.safeId">
                  <!-- Do not be tempted to remove the name of the radio! -->
                  <input class="form-check-input" type="radio" id="input-pathway-@pathway.safeId" name="pathway" value="@pathway.safeId" @if(config.get[String]("app.pipeline.defaultPathway") == pathway.name) {checked} onchange="togglePathway()">
                  <label class="form-check-label" for="input-pathway-@pathway.safeId">@pathway.label</label>
                </div>
              }
              <small class="text-muted">Select which type of input file you wish to submit (entrypoint in the pipeline).</small>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="row">
        <label class="col-sm-2"></label>
        <div class="form-group col-sm-10" id="pathway-inputs">
          @pipeline.pathways.map { pathway =>
            <div class="form-group" id="pathway-input-group-@pathway.safeId">
              @pathway.inputs.map { case input =>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label required" for="pathway-input-@pathway.safeId-@input.safeId">@input.label</label>
                  <div class="col-sm-10">
                    <input type="file" class="form-control-file" name="@pathway.safeId-@input.safeId" id="pathway-input-@pathway.safeId-@input.safeId">
                    <small class="text-muted">@input.description</small>
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm" for="profile-select"><h4>Profile</h4></label>
        <div class="col-sm-10">
          <select class="custom-select" id="profile-select" onchange="toggleProfile()">
            @pipeline.profiles.map { case profile =>
              <option @if(config.get[String]("app.pipeline.defaultProfile") == profile.name) {selected} value="@profile.name">
                @profile.label
              </option>
            }
            <option value="Custom">Custom </option>
          </select>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-2"></label>
        <div class="col-sm-10">
          @pipeline.modules.collect { case module if module.nonEmpty =>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="heading-@module.safeId">
                  <h5 class="mb-0">
                    <button class="btn btn-block btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapse-@module.name" aria-expanded="true" aria-controls="collapse-@module.name">
                      @module.name.capitalize
                    </button>
                  </h5>
                </div>
                <fieldset id="collapse-@module.safeId" class="collapse" aria-labelledby="heading-@module.name" data-parent="#accordion">
                  <div class="card-body">
                    @module.stages.collect {
                      case stage if stage.nonEmpty => {
                        <h5>@stage.name.capitalize</h5>
                        @stage.params.map {
                          case p: ParameterString => {
                            <div class="form-group row">
                              <label class="col-sm-2 col-form-label col-form-label-sm required" for="@p.stageIdOverride(module.name, stage.name)">@p.fLabel</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="@p.stageIdOverride(module.name, stage.name)" placeholder="" onchange="updateMap(event)">
                                <small class="text-muted">@p.description</small>
                              </div>
                            </div>
                          }
                          case p: ParameterInt => {
                            <div class="form-group row">
                              <label class="col-sm-2 col-form-label col-form-label-sm required" for="@p.stageIdOverride(module.name, stage.name)">@p.fLabel</label>
                              <div class="col-sm-10">
                                <input type="number" class="form-control" id="@p.stageIdOverride(module.name, stage.name)" placeholder="" onchange="updateMap(event)">
                                <small class="text-muted">@p.description</small>
                              </div>
                            </div>
                          }
                          case p: ParameterBoolean => {
                            @if(p.name == "MK_RUN") {
                              <div class="form-group row">
                                <legend class="col-form-label col-sm-2 pt-0 required">@p.fLabel</legend>
                                <div class="col-sm-10">
                                  <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="@p.stageIdOverride(module.name, stage.name)" onInput="this.value = this.checked" onchange="updateMap(event); toggleDisable(event)">
                                    <label class="custom-control-label" for="@p.stageIdOverride(module.name, stage.name)">
                                  </div>
                                </div>
                              </div>
                            } else {
                            <div class="form-group row">
                              <legend class="col-form-label col-sm-2 pt-0 required">@p.fLabel</legend>
                              <div class="col-sm-10">
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="@p.stageIdOverride(module.name, stage.name)" onInput="this.value = this.checked" onchange="updateMap(event)">
                                  <small class="text-muted">@p.description</small>
                                </div>
                              </div>
                            </div>
                            }
                          }
                          case p: ParameterSelect => {
                            <div class="form-group row">
                              <label class="col-sm-2 col-form-label col-form-label-sm required" for="@p.stageIdOverride(module.name, stage.name)">@p.fLabel</label>
                              <div class="col-sm-10">
                              <select class="custom-select" id="@p.stageIdOverride(module.name, stage.name)" onchange="updateMap(event)">
                                @p.items.map { item =>
                                    <option value="@item._2">@item._1</option>
                                }
                              </select>
                              <small class="text-muted">@p.description</small>
                              </div>
                            </div>
                          }
                        }
                      }
                    }
                  </div>
                </fieldset>
              </div>
            </div>
          }
        </div>
      </div>
      <button class="btn btn-primary btn-lg mt-5" type="submit" onclick="$('#accordion .collapse').collapse('show')">Submit analysis</button>
      <textarea class="form-control" id="configString" name="Config" rows="10" readonly hidden></textarea>
    }
  </div>

  <script type = "text/javascript">

    function safeId(myId) {
      return "#" + myId.replace(/(:|\.|\[|\]|,|=|@@)/g, "\\$1")
    }

    function togglePathway() {
      if ($('#pathway-selector input:checked').length === 0) {
        $($('#pathway-selector input')[0]).prop('checked', true)
      }
      const selectedPathway = $('#pathway-selector input:checked')[0].value;
      $('#pathway-inputs > div').each(function () {
        const isSelected = this.id === "pathway-input-group-" + selectedPathway;
        $(this).attr('hidden', !isSelected );
        $(this).find('input').each(function () {
          $(this).attr('required', isSelected );
          $(this).attr('disabled', !isSelected )
        });
      });
    }

    function toggleProfile() {
      var profile = $('#profile-select')[0].value;
      switch (profile) {
        @pipeline.profiles.map { profile =>
            case '@profile.name':
              @profile.stages.map { sp =>
                @sp.params.map { case (paramName, value) =>
                  var elem = $(safeId('@sp.name:@paramName'));
                  if (elem.is(':checkbox')) {
                    elem.val(('@value' === 'true'));
                    elem.prop('checked', ('@value' === 'true'));
                    $(elem).trigger("change");
                  } else {
                    elem.val("@value");
                    $(elem).trigger("change");
                  }
                }
              }
              break;
        }
      }
    }

    function block() {
      $.blockUI({ message: "Please wait for the input files to be uploaded...",
        css: {
          border: 'none',
          padding: '15px',
          backgroundColor: '#000',
          '-webkit-border-radius': '10px',
          '-moz-border-radius': '10px',
          opacity: .5,
          color: '#fff'
        }
      });
    }

    function toggleDisable(event) {
      const elem = event.target;
      const v = elem.value;
      const splt = elem.id.split(":", 2);
      const stageId = splt[0];
      $("[id^=" + stageId + "]").not(safeId(elem.id)).each(function () {
        $(this).prop("disabled", (v === 'false'));
      })
    }

    const store = new Map();

    function updateMap(event) {
      @* If the change is from the user (and not from a profile toggling) *@
      if (event.currentTarget !== undefined) {
        $($('#profile-select')[0]).val("Custom")
      }
      const elem = event.target;
      const v = elem.value;
      store.set(elem.id, v);
      var str = "";
      function add(vv, kk) {
        const splt = kk.split(":", 2);
        const stageId = splt[0];
        const paramName = splt[1];
        str += "- " + stageId + ":\n    " + paramName + ": " + vv + "\n";
      }
      store.forEach(add);
      $('#configString').val(str)
    }

    document.addEventListener("DOMContentLoaded", function() {
      @if(form.hasErrors) {
        alert("The form had the issues:\n  - @form.errors.map { error: FormError => @if(error.key.nonEmpty) {@error.key: @error.message} else {@error.message}}.mkString("\\n  -")");
      }
      toggleProfile();
      togglePathway();
    });
    </script>
}
