@import modules.Authorizer

@()(implicit config: play.api.Configuration, request: RequestHeader, authorizer: Authorizer)

@main("Submission failed!") {
  <div class="container">
    <p>
      Sorry, something went wrong and your submission could not be transmitted to our system.<br>
      An email has been send to our team and we will look at the issue as soon as possible.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href=@routes.HomeController.index() role="button">Home</a>
    </p>
  </div>
}
