@import modules.Authorizer

@(aid: String)(implicit config: play.api.Configuration, request: RequestHeader, authorizer: Authorizer)

@main("Analysis submitted!") {
  <div class="container">
    <h2>Analysis submitted</h2>
    <p>
      Your analysis has been recorded.<br>
      View its status <a href="@routes.HomeController.analyses()">here</a>.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="@routes.SubmissionController.submission()" role="button">New analysis</a>
    </p>
  </div>
}
