@import modules.Authorizer

@()(implicit config: play.api.Configuration, authorizer: Authorizer, requestHeader: RequestHeader)

@main("Terms of use") {
  <div class="container">
    <h2 class="mb-3">Terms of use</h2>
    <div class="mb-4">
      <h5>Acceptance of Terms</h5>
      Your use of this Site, including the services and/or materials provided to you pursuant to this Site are subject
      to the following terms and conditions (the “Terms”). By accessing, using, or registering to use any Service from
      this Site you agree to follow and be bound by these Terms. IF YOU DO NOT ACCEPT ALL OF THESE TERMS, DO NOT USE THIS SITE.
    </div>
    <div class="mb-4">
      <h5>Description of Service</h5>
      This Site may provide you with access to a variety of resources, materials and downloads (collectively, "Services").
      The Services, including any updates and enhancements, are subject to the Terms.
    </div>
    <div class="mb-4">
      <h5>Limitation of use</h5>
      This Site offers freely available online services. However, Third party softwares used by these Services have their
      own individual license agreements. It is the responsibility of users to ensure that they do not violate these licence agreements.
      The Services utilise public databases contributed by the community who remain the data owners.
      The original data may be subject to rights claimed by third parties. It is the responsibility of users to ensure
      that their exploitation of the data does not infringe any of the rights of such third parties.
    </div>
    <div class="mb-4">
      <h5>Updates and/or Changes to the Site</h5>
      The Service may contain technical inaccuracies. Unless otherwise specified in the Terms, the Service may be updated,
      modified or deleted at any time without notice.
    </div>
    <div class="mb-4">
      <h5>Privacy policy</h5>
      Please see the <a href="/privacy-policy">privacy policy</a> disclosures relating to the collection and use of your information.
      By using the Site, you are consenting to the processing of your data by any Service hosted on this Site and consenting to our Privacy Policy.
    </div>
    <div class="mb-4">
      <h5>User Information</h5>
      When using this Site, you agree to be responsible for providing accurate and complete information about yourself
      during registration ("Your Data"), and updating Your Data to keep it current. You are entirely responsible for
      maintaining the confidentiality of your password and account. Furthermore, you are entirely responsible for any
      and all activities that occur under your account.
    </div>
    <div class="mb-4">
      <h5>Disclaimers\Warranty</h5>
      SERVICES PROVIDED AT THIS SITE ARE, IF AT ALL, ONLY PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. WE DISCLAIM
      ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS, AND WARRANTIES OF ANY KIND, INCLUDING WARRANTIES OF MERCHANTABILITY,
      TITLE, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF INTELLECTUAL PROPERTY. APPLICABLE LAW MAY NOT ALLOW
      THE EXCLUSION OR LIMITATION OF IMPLIED WARRANTIES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.
      We make no warranties regarding the accuracy, completeness or quality of any of the Services.
    </div><div class="mb-4">
      <h5>Limitation of Liability</h5>
    TO THE EXTENT NOT PROHIBITED BY APPLICABLE LAW, IN NO EVENT WILL METAKUBE BE LIABLE FOR ANY DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FROM LOST
    PROFITS, LOST DATA OR BUSINESS INTERRUPTION ARISING OUT OF THE USE, INABILITY TO USE, OR THE RESULTS OF USE OF THIS
    SITE, ANY WEB SITES LINKED TO THIS SITE, OR THE SOFTWARE, MATERIALS OR SERVICES CONTAINED AT ANY OR ALL SUCH SITES,
    WHETHER BASED ON WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL THEORY AND WHETHER OR NOT ADVISED OF THE POSSIBILITY OF
    SUCH DAMAGES. IF YOUR USE OF THE MATERIALS, SOFTWARE OR SERVICES FROM THIS SITE RESULTS IN THE NEED FOR SERVICING,
    REPAIR OR CORRECTION OF EQUIPMENT OR DATA, YOU ASSUME ALL COSTS THEREOF. APPLICABLE LAW MAY NOT ALLOW THE EXCLUSION
    OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.
  </div>
  </div>
}
